.TodoList .searchbar{
   
    width: 100%;   
    
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}


.TodoList .searchbar:focus{
    outline: none;   
    border:none;
    border-bottom: 1px solid #a2afbc;
}


/*  세로  간격을 20px*/
.TodoList .list_wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
} 