
.About{
    border:1px solid black;
}


.About-wrap{
    display: flex;
}


.About  .ImgCol{
    flex:1;
    border:1px solid black;  
}


.About  .Content{
    padding: 5px;
    flex:4;
    border:1px solid black;
    font-size: 12px;
}



img{
    width: 200px;
}
